* {
  box-sizing: border-box;
}

.augmentation-dev {
  font-family: "Manrope", sans-serif;
}

.augmentation-dev_section-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 0px 40px 0px;
  gap: 25px;
}
@media (min-width: 1100px) {
  .augmentation-dev_section-wrapper {
    padding: 60px 195px 0px 195px;
  }
}

.augmentation-dev__title {
  padding: 0 15px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 1100px) {
  .augmentation-dev__title {
    flex-direction: row;
    align-items: flex-start;
    gap: 160px;
  }
}

.augmentation-dev__header {
  margin: 0;
  color: var(--accent, #5067f4);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}
@media (min-width: 1100px) {
  .augmentation-dev__header {
    font-size: 48px;
    width: 520px;
  }
}

.augmentation-dev__innovation {
  margin: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
@media (min-width: 1100px) {
  .augmentation-dev__innovation {
    font-size: 24px;
    flex: 1 0 0;
  }
}

.augmentation-dev__block {
  padding: 0px 15px;
}
@media (min-width: 1100px) {
  .augmentation-dev__block {
    padding-top: 34px;
  }
}
.augmentation-dev__block .augmentation-dev__slider {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.augmentation-dev__block .augmentation-dev__wrapper .augmentation-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px 15px;
  gap: 20px;
  align-self: stretch;
  background: var(--bg, #f0f1f7);
  box-shadow: 0px 2px 4px 0px rgba(131, 129, 129, 0.02), -2px 7px 7px 0px rgba(131, 129, 129, 0.02), -4px 15px 9px 0px rgba(131, 129, 129, 0.01), -8px 26px 11px 0px rgba(131, 129, 129, 0), -12px 41px 22px 0px rgba(131, 129, 129, 0.04);
}
.augmentation-dev__block .augmentation-dev__wrapper .augmentation-item .augmentation-item__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}
.augmentation-dev__block .augmentation-dev__wrapper .augmentation-item .augmentation-item__avatar {
  width: 50px;
  height: 50px;
  border-radius: 123px;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
}
.augmentation-dev__block .augmentation-dev__wrapper .augmentation-item .augmentation-item__heading {
  margin: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
.augmentation-dev__block .augmentation-dev__wrapper .augmentation-item .augmentation-item__position {
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
}
.augmentation-dev__block .augmentation-dev__wrapper .augmentation-item .augmentation-item__summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.augmentation-dev__block .augmentation-dev__wrapper .augmentation-item .augmentation-item__summary .augmentation-item__summary__heading {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin: 0;
}
.augmentation-dev__block .augmentation-dev__wrapper .augmentation-item .augmentation-item__summary .augmentation-item__summary__p {
  margin: 0;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
}
.augmentation-dev__block .augmentation-dev__wrapper .augmentation-item .augmentation-item__langs {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.augmentation-dev__block .augmentation-dev__wrapper .augmentation-item .augmentation-item__langs .augmentation-item__langs__block {
  padding: 10px;
  border-radius: 5px;
  background: var(--White, #fff);
}
.augmentation-dev__block .augmentation-dev__wrapper .augmentation-item .augmentation-item__name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  flex: 1 0 0;
}
.augmentation-dev__block .augmentation-dev__wrapper .augmentation-item .service-item__heading {
  color: var(--Primary-text, #101018);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 23.4px */
}
